@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body, html {
    overflow-x: hidden;
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #8e8164;
}

.align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #8e8164;
    border-radius: 8px;
    padding: 0 0.6em;
    height: 100%;
}

.align-center p {
    text-align: center;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #cce5ff;
    padding-left: 10px;
}

.notification div {
    color: #1a4085;
}

.dismiss-notification {
    background-color: transparent;
    border: none;
    margin-right: 30px;
}

.dismiss-notification:hover {
    cursor: pointer;
}

.dismiss-notification i {
    color: #1a4085;
}

.button-primary {
    background-color: #8e8164;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 1rem 2rem;
    font-size: 1.25em;
    width: auto;
}

.button-secondary {
    background-color: transparent;
    border: 2px solid #8e8164;
    color: #8e8164;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1em;
    width: auto;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.img2 {
    width: 50%;
    height: auto;
}

.m0p0 {
    margin: 0;
    padding: 0
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background: linear-gradient(45deg, #273232, #0f1719);
    height: 10vh;
}

.navbar a {
    font-size: 1.25em;
}

.nav-logo {
    font-size: 1.75em !important;
    font-weight: bold;
}

.nav {
    display: flex;
    align-items: center;
    gap: 3.6em;
    height: 100%;
}

.nav-link {
    height: 100%;
    padding: 0 1.2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link:hover {
    background: linear-gradient(0deg, #537553, transparent);
}

.dropdown-toggle i {
    display: flex;
    align-items: center;
    color: #8e8164;
    font-size: 2.4em;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
  }

  .dropdown-toggle {
    background: transparent;
    border: none;
    outline: none;
    padding-left: 1.2em !important;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: #8e8164;
    width: 100px;
    padding: 10px;
    display: none;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .dropdown-item {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
  }

  .dropdown-item:not(:last-child) {
    border-bottom: 1px solid white;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    cursor: pointer;
  }

.no-button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.two-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.two-p p {
    text-align: center;
}

.hero  {
    height: 90vh;
    background-image: url('./img/hero-image.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    width: 20%;
    margin-left: 5%;
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
}

.social-container a i {
    color: #8e8164;
    font-size: 1em;
}

.hero-container h1 {
    font-size: 2.5em;
    line-height: 38px;
}

.hero-container p {
    font-size: 1.2em;
    line-height: 38px;
    color: #8e8164;
    margin: 0;
}

.extra-info {
    color: #8e8164;
    padding: 7em 5% 0 5%;
    font-size: 1.2em;
}

.extra-info p {
    display: flex;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
}

.grid-item {
    height: 100%;
}

.apartments-hero  {
    height: 90vh;
    background: linear-gradient(180deg, #f8fafc 80%, #f2f4f6 100%);
    display: flex;
    justify-content: space-between;
    color: #8e8164;
    font-size: 1.2em;
}

.apartments-hero div {
    margin-left: 5%;
    margin-top: 2%;
}

.amenities-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 0 2em 0 !important;
}

.amenities {
    margin: 0 !important;
    display: grid;
    grid-template-columns: 50px 200px;
}

.amenities i {
    display: flex;
    justify-content: center;
}

.apartment-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding: 5em 5%;
}

.apartment-item {
    background-color: #0f1719;
    color: #8e8164;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
}

.item-info {
    padding: 2em;
}

.contact {
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form h1 {
    font-size: 2.8em;
    margin: 0;
    color: #8e8164;
}

.contact-form input, .contact-form textarea {
    border: 2px solid #8e8164;
    color: #8e8164;
    font-size: 1.2em;
    border-radius: 4px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
}

textarea {
    resize: none;
}

.reservation {
    padding: 5%;
}

.reservation-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

footer {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #273232, #0f1719);
    color: #8e8164;
    font-size: 1.25em;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-contact {
    display: flex;
    gap: 10px;
}



.login-body {
    background-image: url('./img/exterior-transformed.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    background-color: #0f1719;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1% 5%;
    color: white;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
}

.login h1 {
    border-bottom: 2px solid #8e8164;
    padding-bottom: 10px;
    width: 40%;
}